.accueil {
	gap: var(--margin-m);
}
.banner {
	height: 80vh;
	width: 100%;

	background: center / cover url('../assets/image/banner.png') no-repeat;
}
.banner > div {
	height: 100%;
	width: 50%;
	padding: var(--margin-s);
	gap: var(--margin-s);

	align-items: start !important;

	background: linear-gradient(90deg, var(--dark-50), transparent);
}
.banner > div > h2 {
	font-size: var(--desktop-font-size-xl);
	color: var(--light);
}
.banner > div > .buttons {
	align-items: center;
	gap: var(--margin-m);
}
.banner > div > .buttons a {
	text-decoration: none;
	font-size: var(--desktop-font-size-s);
	color: var(--light);
}
.banner > div > .buttons a:nth-child(1) {
	transition: 0.25s;

	padding: var(--margin-xs) var(--margin-m);
	background: var(--blue);
	border: solid 1px var(--blue);
	border-radius: var(--radius-m);
}
.banner > div > .buttons a:nth-child(1):hover {
	border-color: var(--blue);
	background: var(--light);
	color: var(--blue);
}
.banner > div > .buttons a:nth-child(2) {
	text-decoration: underline 1px var(--light);
}
.content {
	padding: var(--margin-s);
	gap: var(--margin-s);
	width: 100%;
}
.content h3 {
	width: 35%;

	font-size: var(--desktop-font-size-xl);
}
.content p {
	width: 65%;
	font-size: var(--desktop-font-size-s);
}
.preview {
	width: 100%;
	height: 40vh;
	padding: var(--margin-s);
	gap: var(--margin-s);

	background: var(--dark);
}
.preview .pictures {
	width: 100%;
	height: 100%;
	gap: var(--margin-s);
}
.preview .pictures .pic {
	width: calc(85vw / 5);
	height: 100%;
	background-image: var(--bg-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: center;
}
.preview a {
	text-decoration: none;

	transition: 0.25s;
	border: solid 1px var(--light);
	border-radius: var(--radius-m);
	font-size: var(--desktop-font-size-s);
	color: var(--light);
	padding: var(--margin-xs) var(--margin-s);
	background: var(--light);
	color: var(--dark);
}
.preview a:hover {
	background: var(--blue);
	border-color: var(--blue);
	color: var(--light);
}

/* ------------- default for preview ------------*/

.preview-default {
	width: 100%;
	height: 20vh;
	padding: var(--margin-s);
	background: var(--dark);
}
.preview-default .pictures-default {
	width: 100%;
	height: 100%;
}
.preview-default .pictures-default p {
	color: #ffff;
}
.preview-default a {
	text-decoration: none;

	transition: 0.25s;
	border: solid 1px var(--light);
	border-radius: var(--radius-m);
	font-size: var(--desktop-font-size-s);
	color: var(--light);
	padding: var(--margin-xs) var(--margin-s);
	background: var(--light);
	color: var(--dark);
}
.preview-default a:hover {
	background: var(--blue);
	border-color: var(--blue);
	color: var(--light);
}

@media screen and (width < 900px) {
	.banner > div {
		width: 100%;
	}
	.banner > div > h2 {
		font-size: calc(var(--desktop-font-size-l) + 10px);
	}
	.banner > div .buttons {
		width: 100%;
		flex-direction: column;
	}
	.banner > div > .buttons a {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
	}
	.content {
		flex-direction: column;
	}
	.content h3,
	.content p {
		width: 100%;
	}
	.preview {
		flex-direction: column;

		height: auto;
	}
	.preview .pictures .pic {
		background-size: contain;
		width: 100%;
		height: 55vh;
	}
}
