.admin {
    width: 100vw;
    padding: var(--margin-m);
    gap: var(--margin-m);
}

.admin h4 {
    font-size: var(--desktop-font-size-l);
}

.stats-container {
    gap: var(--margin-s);
    width: 100%;
}

.stats-container .stats {
    width: 100%;
    gap: var(--margin-xs);
}

.stats-container .stats p {
    width: 45%;
}

.account-container {
    gap: var(--margin-s);
}

.account-container .accounts {
    gap: var(--margin-s);
}

.account {
    cursor: pointer;

    padding: var(--margin-xs) var(--margin-s);
    border: solid 1px var(--dark);
    border-radius: var(--radius-m);

    transition: 0.25s;
}

.account:hover {
    background: var(--dark-75);
}
