.connect {
	height: 100vh;
	width: 100vw;

	background: center / cover url('../assets/image/form-background.jpg') no-repeat;
}

.connect .form-container {
	height: 50%;
	width: 50%;
	padding: var(--margin-s);

	border-radius: var(--radius-l);
	background: var(--dark-25);
	gap: var(--margin-m);
}
.connect .form-container * {
	color: var(--light);
}
.connect .form-container h2 {
	font-size: var(--desktop-font-size-xl);
	font-weight: var(--font-weight-content);
}
.connect .form-container form {
	width: 100%;

	gap: var(--margin-s);
}
.connect .form-container form input {
	background: none;
	outline: none;

	font-size: var(--desktop-font-size-s);

	width: 100%;
	padding: var(--margin-xs);

	border: solid 2px var(--light);
	border-radius: var(--radius-m);
}
.connect .form-container form input::placeholder {
	color: var(--light-50);
	opacity: 1;
}
.connect .form-container form input::-ms-input-placeholder {
	color: var(--light-50);
}
.connect .form-container form a {
	font-size: 14px;
	color: var(--light-50);
}
.connect .form-container form button {
	outline: none;
	cursor: pointer;
	align-self: end;

	transition: 0.15s;
	width: 35%;
	padding: var(--margin-xs);

	font-size: var(--desktop-font-size-s);

	color: var(--dark);
	border: solid 2px var(--light);
	border-radius: var(--radius-m);
}
.connect .form-container form button:hover {
	background: var(--blue);
	color: var(--light);
}
