html, body {
    overflow: hidden;
}

.content-container {
    overflow: hidden;

    height: 100vh;
    width: 100vw;

    background: center / cover url('../assets/image/form-background.jpg') no-repeat;
}

.content-container .form-container {
    height: fit-content;
    width: 50%;
    padding: var(--margin-s);

    border-radius: var(--radius-l);
    background: var(--dark-25);
    gap: var(--margin-m);
}

.content-container .form-container * {
    color: var(--light);
}

.content-container .form-container h2 {
    font-size: var(--desktop-font-size-xl);
    font-weight: var(--content-weight);
}

.content-container .form-container form {
    width: 100%;

    gap: var(--margin-s);
}

.content-container .form-container form input,
.content-container .form-container form select {
    background: none;
    outline: none;

    font-size: var(--desktop-font-size-s);

    width: 100%;
    padding: var(--margin-xs);

    border: solid 2px var(--light);
    border-radius: var(--radius-m);
}

.content-container .form-container form input::placeholder {
    color: var(--light-50);
    opacity: 1;
}

.content-container .form-container form input::-ms-input-placeholder {
    color: var(--light-50);
}

.content-container .form-container form select option {
    color: var(--dark);
    padding: 40px;
}

.content-container .form-container form a {
    font-size: 14px;
    color: var(--light-50);
}

.content-container .form-container form .actions {
    justify-content: space-between;

    width: 100%;
}

.content-container .form-container form button,
.content-container .form-container form .back {
    outline: none;
    cursor: pointer;
    align-self: end;

    transition: 0.15s;
    min-width: 35%;
    padding: var(--margin-xs);

    font-size: var(--desktop-font-size-s);

    color: var(--dark);
    border: solid 2px var(--light);
    border-radius: var(--radius-m);
}


.content-container .form-container form button:hover {
    background: var(--blue);
    color: var(--light);
}

.content-container .form-container form .back {
    text-decoration: none;

    color: var(--light);
}

.content-container .form-container form .back:hover {
    background: var(--light);
    color: var(--dark);
}

/* SPECIFIC STYLE FOR SIGN UP PAGE */
.content-container.sign-up .form-container form {
    justify-content: space-between;
    gap: var(--margin-s);
}

.content-container.sign-up .form-container form input,
.content-container.sign-up .form-container form select {
    width: 45%;
}

@media screen and (width <= 900px) {
    .content-container .form-container {
        width: 100%;
        height: 100%;

        border-radius: 0;
    }

    .content-container.sign-up .form-container form input,
    .content-container.sign-up .form-container form select {
        width: 100%;
    }

    .content-container .form-container form button,
    .content-container .form-container form .back {
        min-width: 45%;
    }
}