.info-container {
	width: 100vw;
	padding: var(--margin-m);
	gap: var(--margin-m);
}
h2 {
	font-size: var(--desktop-font-size-m);
}
.info {
	width: 100%;
	gap: var(--margin-s);
}
.info p {
	align-items: center;
	gap: var(--margin-xxs);
	width: 35%;
}
.info p button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;

	width: 20px;
	height: 20px;
}
.info p button img {
	width: 100%;
	transform: translateY(-2px);
}
.buttons {
	gap: var(--margin-m);
}
.buttons button {
	cursor: pointer;

	background: none;
	border: none;

	font-family: var(--font-family);
	font-size: var(--desktop-font-size-s);

	color: var(--dark);

	text-decoration: underline 1px;
}
.photos {
	margin-left: var(--margin-m);
	margin-bottom: var(--margin-s);
}
