.photos-container {
    justify-content: space-between;
}

.photos-container a {
    cursor: pointer;
    text-decoration: none;

    font-size: var(--desktop-font-size-s);
    gap: var(--margin-xs);
    padding: 0 var(--margin-s);
    margin-right: var(--margin-m);
    transition: 0.15s;

    background: var(--blue);
    border: solid 2px var(--dark);
    border-radius: var(--radius-m);
}

.photos-container a:hover {
    background: var(--light);
    border: solid 2px var(--blue);
}

.photos {
    margin-left: var(--margin-m);
    margin-bottom: var(--margin-s);
}

#revalidate-email {
    height: 45vh;
    gap: var(--margin-xs);
}

#revalidate-email input {
    width: 20%;
}

#revalidate-email button {
    cursor: pointer;
    background: none;

    transition: 0.15s;
    padding: var(--margin-xxs) var(--margin-xs);

    border: solid 1px var(--dark);
}

#revalidate-email button:hover {
    background: var(--dark);
    color: var(--light);
}

@media screen and (width < 900px) {
    .photos-container {
        gap: var(--margin-s);
    }

    .photos-container a {

        width: 100%;
        padding: var(--margin-xs);
        margin-right: 0;
    }
}