.content-container .form-container .drop-area {
    cursor: pointer;
    position: relative;

    width: 45%;

    background: var(--light-75);
    border: dashed 10px var(--light-75);
    border-radius: var(--radius-m);
}

.content-container .form-container .drop-area input {
    position: absolute;
    cursor: pointer;

    opacity: 0;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content-container .form-container .drop-area img {
    opacity: 35%;
    width: 100px;
}

.content-container .form-container .inputs {
    width: 45%;
    gap: var(--margin-s);
}

@media screen and (width <= 900px) {
    .content-container .form-container form {
        flex-direction: column;
    }

    .content-container .form-container form > div {
        width: 100% !important;
    }
}