:root {
	/** COLORS */

	/** light with different transparencies */
	--light: #f3f8ff;
	--light-25: #f3f8ffbf;
	--light-50: #f3f8ff80;
	--light-75: #f3f8ff40;
	/** dark with different transparencies */
	--dark: #0b0b15;
	--dark-25: #0b0b15bf;
	--dark-50: #0b0b1580;
	--darl-75: #0b0b1540;
	/** colors */
	--blue: #3378df;

	/** TEXT RELATED VARIABLES */

	/** different font families */
	--font-family: 'Cousine';

	/** font weights based on different contents */
	--header-weight: 800;
	--content-weight: 400;

	/** font sizes */
	--desktop-font-size-s: 16px;
	--desktop-font-size-m: 24px;
	--desktop-font-size-l: 34px;
	--desktop-font-size-xl: 74px;

	--mobile--font-size-s: 14px;
	--mobile--font-size-m: 18px;
	--mobile--font-size-l: 48px;
	--mobile--font-size-s: 56px;

	/** ALL SPACINGS */

	--margin-xxs: 10px;
	--margin-xs: 15px;
	--margin-s: 25px;
	--margin-m: 50px;
	--margin-l: 100px;
	--margin-xl: 150px;
	--margin-xxl: 300px;
}
